<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:realurl/Resources/Private/Language/locallang.xlf:module.index')}" controller="BackendModule" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:realurl/Resources/Private/Language/locallang.xlf:module.aliases')}" controller="BackendModule" action="aliases" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:realurl/Resources/Private/Language/locallang.xlf:module.cache')}" controller="BackendModule" action="cache" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:realurl/Resources/Private/Language/locallang.xlf:module.configuration')}" controller="BackendModule" action="configuration" />
					</f:be.menus.actionMenu>
				</div>

				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>

			<div class="typo3-docheader-buttons">
				<div class="left">
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" class="news-administration">
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>